<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".QRScannerActivity"
            android:exported="true"
            android:theme="@style/Theme.AirgapSDK" />
    </application>

</manifest>
