# Gradle
.gradle/
build/
gradle.properties

# Local configuration
local.properties

# IDE - IntelliJ / Android Studio
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Android
/captures
.externalNativeBuild/
.cxx/

# Kotlin / Java
*.class
